/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  /*position: fixed;*/
  left: 0;
  bottom: 0;
    position: -webkit-sticky;
	position: sticky;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

div#contentA {
	display: none;
}
button:hover + div#contentA {
	display: block;
}

.tooltip {
	  position: relative;
	    display: inline-block;
		  border-bottom: 1px dotted black;
	  }

	  .tooltip .tooltiptext {
		    visibility: hidden;
			  width: 120px;
			    background-color: #555;
				  color: #fff;
				    text-align: center;
					  border-radius: 6px;
					    padding: 5px 0;
						  position: absolute;
						    z-index: 1;
							  bottom: 125%;
							    left: 50%;
								  margin-left: -60px;
								    opacity: 0;
									  transition: opacity 0.3s;
								  }

								  .tooltip .tooltiptext::after {
									    content: "";
										  position: absolute;
										    top: 100%;
											  left: 50%;
											    margin-left: -5px;
												  border-width: 5px;
												    border-style: solid;
													  border-color: #555 transparent transparent transparent;
												  }

												  .tooltip:hover .tooltiptext {
													    visibility: visible;
														  opacity: 1;
													  }

